body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 100%;
    font-size: 18px;
}
header, nav, section, footer, aside {
    background-color: #ebebeb;
    border: 2px solid black;
}
article {
    color: #ebebeb;
    background-color: #777
}
h1, p {
    color: #777;
    background-color: #ebebeb;
}
section  {
    width: 50%;
    float: left;
    margin-bottom: 20px;
}
aside {
    float: left;
    height: 270px;
    width: 40%;
    margin-bottom: 20px;
}  
header {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    
}
nav {
    height: 20px;
    padding: 20px;
    margin-bottom: 20px;
}  
footer  {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}